<table>
 <tr>
  <th>Measurement Point</th>
  <th>#</th>
  <th>Average</th>
  <th>Min</th>
  <th>Max</th>
  <th>Total</th>
 </tr>
 <tr>
  <td><div class="parentname" >DeadTerms:AgreementOffer(guarantee_term_errors_by_QC_SLO_QC-SLO).wsag</div></td>
  <td><div class="parentmeasurement" >5</div></td>
  <td><div class="parenttime" >409,039</div></td>
  <td><div class="parenttime" >368,288</div></td>
  <td><div class="parenttime" >463,593</div></td>
  <td><div class="parenttotal" >2.045,194</div></td>
 </tr>
 <tr>
  <td><div class="parentname" >DeadTerms:AgreementOffer(warning_by_SDT).wsag</div></td>
  <td><div class="parentmeasurement" >5</div></td>
  <td><div class="parenttime" >662,360</div></td>
  <td><div class="parenttime" >352,966</div></td>
  <td><div class="parenttime" >1.760,690</div></td>
  <td><div class="parenttotal" >3.311,800</div></td>
 </tr>
 <tr>
  <td><div class="parentname" >DeadTerms:ConsistentAgreementOfferCompliantWithConsistentTemplate.wsag</div></td>
  <td><div class="parentmeasurement" >5</div></td>
  <td><div class="parenttime" >373,813</div></td>
  <td><div class="parenttime" >340,366</div></td>
  <td><div class="parenttime" >407,761</div></td>
  <td><div class="parenttotal" >1.869,067</div></td>
 </tr>
 <tr>
  <td><div class="parentname" >DeadTerms:ConsistentAgreementOfferNonCompliantWithConsistentTemplate(by_SDTs_and_GT).wsag</div></td>
  <td><div class="parentmeasurement" >5</div></td>
  <td><div class="parenttime" >378,077</div></td>
  <td><div class="parenttime" >353,432</div></td>
  <td><div class="parenttime" >397,514</div></td>
  <td><div class="parenttotal" >1.890,384</div></td>
 </tr>
 <tr><td class="footer" colspan="6">All times in miliseconds. Measurements provided by <a href="http://jetm.void.fm" target="_default">JETM</a></td></tr>
</table>