<ws:AgreementTemplateType ws:TemplateId="1" xmlns:ws="http://schemas.ggf.org/graap/2007/03/ws-agreement">
  <ws:Name>SAMPLE3</ws:Name>
  <ws:Context>
    <ws:ServiceProvider>AgreementResponder</ws:ServiceProvider>
    <ws:TemplateId>1</ws:TemplateId>
    <ws:TemplateName>SAMPLE3</ws:TemplateName>
  </ws:Context>
  <ws:Terms>
    <ws:All>
      <ws:ServiceDescriptionTerm ws:Name="SAMPLE3_SDT" ws:ServiceName="SAMPLE3_SERVICE">
        <jsdl:JobDescription xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl">
          <jsdl:Resources>
            <jsdl:CandidateHosts>
              <jsdl:HostName>some_host</jsdl:HostName>
            </jsdl:CandidateHosts>
          </jsdl:Resources>
        </jsdl:JobDescription>
      </ws:ServiceDescriptionTerm>
    </ws:All>
  </ws:Terms>
  <ws:CreationConstraints/>
</ws:AgreementTemplateType>